Library/
off-peak art/
substances/
off-peak-presskit/
builds/
people's art bin/
surfaces/
Temp/
Scenes/_more_past_versions
Scenes/_PastVersionsFinal
Scenes/_past_versions_HD
Scenes/_past_versions
Scenes_DNU

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db